@font-face {
    font-family: StratosSkyeng;
    font-weight: 400;
    src: url('/fonts/stratosskyengweb-regular.woff') format('woff'),
        url('/fonts/stratosskyengweb-regular.woff2') format('woff2');
}

* {
    margin: 0;
    padding: 0;
    font-family: StratosSkyeng;
}

a {
    text-decoration: none;
}

body {
    font-weight: 400;
}

.center {
    padding-left: 26px;
    padding-right: 26px;
}

.app {
    height: 100vh;
    width: 100vw;
    background-color: #004980;
}

.app-difficult {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.start {
    height: 459px;
    width: 489px;
    background-color: #c2f5ff;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.start__title {
    text-align: center;
    color: #004980;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 48px;
    overflow-wrap: break-word;
    max-width: 208px;
}

.start__btn {
    background-color: #7ac100;
    border-radius: 12px;
    border: none;
    width: 246px;
    height: 50px;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
}

.start__btn:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03f44b, 0 0 25px #03f423, 0 0 50px #03f43f,
        0 0 100px #03e9f4;
}

.difficult {
    display: flex;
    gap: 24px;
}

.difficult__btn {
    width: 98px;
    height: 98px;
    border-radius: 12px;
    background-color: #fff;
    font-size: 64px;
    line-height: 72px;
    color: #0080c1;
    border: none;
    margin-bottom: 67px;
}

.difficult__btn:hover {
    border: #0080c1 solid 3px;
    text-shadow: 0 0 5px #20e21a, 0 0 20px #32e668, 0 0 30px #1f8fac,
        0 0 20px #ff852e;
}

.active__btn {
    background: #03e9f4;
    color: #fff;
    box-shadow: 0 0 5px #03e9f4, 0 0 10px #03e9f4, 0 0 20px #17f403,
        0 0 40px #03f4cc;
}

.timer {
    display: flex;
    width: 155px;
    height: 88px;
}

.timer__time {
    font-weight: 400;
    font-size: 64px;
    color: #fff;
}

.timer__time:not(:last-child)::after {
    content: '.';
}

.timer__minutes::before {
    content: 'min';
    display: block;
    font-size: 16px;
    text-align: end;
    margin-right: 18px;
    margin-bottom: -10px;
}

.timer__seconds::before {
    content: 'sec';
    display: block;
    font-size: 16px;
    text-align: end;
    margin-bottom: -10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}

.header__restart {
    width: 246px;
    height: 50px;
    background: #7ac100;
    border-radius: 12px;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    border: none;
    color: #fff;
}

.header__restart:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03f44b, 0 0 25px #03f423, 0 0 50px #03f43f,
        0 0 100px #03e9f4;
}

.cards {
    display: flex;
    justify-content: center;
    width: 680px;
    margin: auto;
    flex-wrap: wrap;
    gap: 15px;
    padding-top: 35px;
}

.card {
    max-height: 120px;
    max-width: 85px;
}

.turn {
    animation-name: example;
    animation-duration: 0.2s;
}

@keyframes example {
    from {
        transform: scale(0, 1);
    }

    to {
        transform: scale(1, 1);
    }
}

.finish {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #004980;
    background: hsl(206deg 100% 25% / 90%);
    position: absolute;
}

.finish__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 480px;
    height: 460px;
    background-color: #c2f5ff;
    border-radius: 12px;
}

.finish__image {
    width: 96px;
    height: 96px;
    padding-top: 32px;
    padding-bottom: 8px;
}

.finish__title {
    color: #004980;
    font-size: 40px;
    line-height: 48px;
    padding-bottom: 28px;
}

.finish__time {
    font-size: 24px;
    line-height: 32px;
    padding-bottom: 10px;
}

.finish__time_number {
    font-size: 64px;
    line-height: 72px;
    padding-bottom: 40px;
}

.finish__restart_game {
    width: 246px;
    height: 50px;
    background: #7ac100;
    border-radius: 12px;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    border: none;
    color: #fff;
}

.finish__restart_game:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03f44b, 0 0 25px #03f423, 0 0 50px #03f43f,
        0 0 100px #03e9f4;
}
